{% extends 'base.html' %}

{% load staticfiles %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="site-wrap">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, nihil sed perferendis ducimus cumque ea maiores aspernatur deleniti rerum quas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aspernatur eius corrupti provident vel quos tempora nulla!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, nihil sed perferendis ducimus cumque ea maiores aspernatur deleniti rerum quas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aspernatur eius corrupti provident vel quos tempora nulla!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, nihil sed perferendis ducimus cumque ea maiores aspernatur deleniti rerum quas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aspernatur eius corrupti provident vel quos tempora nulla!</p>
    <img class="align-left slide-in" src="https://source.unsplash.com/BEoRWiXefQE/400x300" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, nihil sed perferendis ducimus cumque ea maiores aspernatur deleniti rerum quas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aspernatur eius corrupti provident vel quos tempora nulla!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, nihil sed perferendis ducimus cumque ea maiores aspernatur deleniti rerum quas.</p>
    <img class="align-left slide-in" src="https://source.unsplash.com/-heLWtuAN3c/400x300" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aspernatur eius corrupti provident vel quos tempora nulla!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, nihil sed perferendis ducimus cumque ea maiores aspernatur deleniti rerum quas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aspernatur eius corrupti provident vel quos tempora nulla!</p>
    <img class="align-left slide-in" src="https://source.unsplash.com/4rDCa5hBlCs/400x300" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aspernatur eius corrupti provident vel quos tempora nulla!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, nihil sed perferendis ducimus cumque ea maiores aspernatur deleniti rerum quas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aspernatur eius corrupti provident vel quos tempora nulla!</p>

</div>

{% endblock %}